#body{height:100%}
.logo{
    width:100%;
    height:30%;
}
.logo img{width: 100%}
.footer{
    width:100%;
    height:30%;
}
.footer img{width: 100%}
.nva{
    width:100%;
    height:20%;
    
}
.icon{
    width:33%;
    float: left;
}
.icon img{
    width: 100%;
}